.container {
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  margin: 10px;
  gap: 10px;
}

.container span {
  font-size: 1.5rem;
  font-weight: 600;
  flex: 1; /* distribuye equitativamente */
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.date {
  flex: 1.5; /* un poco más de espacio para la fecha */
}

.active span {
  color: green;
  font-weight: bold;
  transition: all 0.2s ease;
}

.active:hover {
  color: white;
  background-color: rgb(0, 0, 0);
  padding: 5px 8px;
  border-radius: 4px;
  cursor: pointer;
}

.cancelled span {
  color: red;
  font-weight: bold;
}
