.container {
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
  margin: 10px;
  gap: 12px;
  color: #fff5d9;
  font-size: 0.9rem;
  overflow-x: auto;
}

.container span {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Distribución personalizada */
.date {
  flex: 1.2;
}

.time {
  flex: 1;
}

.description {
  flex: 2.5; /* más espacio para la descripción */
  text-align: left;
}

.status {
  flex: 1;
  font-weight: bold;
}

.active {
  color: green;
  transition: all 0.2s ease;
}

.active:hover {
  color: white;
  background-color: orangered;
  padding: 5px 8px;
  border-radius: 4px;
  cursor: pointer;
}

.cancelled {
  color: red;
}
