.container {
  background-color: #213c4e;
  color: #fff5d9;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  padding: 10px;
  margin: 10px;
  span {
    flex: 0 0 25%;
  }
}

.active {
  color: green;
  &:hover {
    color: white;
    background-color: orangered;
    cursor: pointer;
  }
}

.cancelled {
  color: red;
}
