.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  padding: 2em;
  box-sizing: border-box;
  width: 100vw;
  background-image: url("../../assets/img/home-bg.png");
  backdrop-filter: blur(10px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leftSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 45%;
  gap: 2em;
  padding: 9em;
}

.eslogan h1 {
  background-color: rgba(255, 255, 255, 0.15);
  display: flex;
  align-items: center;
  flex-direction: column;
  backdrop-filter: blur(10px);
  border-radius: 20px;
  font-size: 4rem;
  color: #194e6f;
  font-weight: 300;
  padding: 0em 0em 0em 0em;
}

.eslogan2 h2 {
  font-size: 2.8rem;
  color: #182241;
  font-weight: 400;
  padding: 0em 0em 1em 0em;
  background-color: rgba(255, 255, 255, 0.15);
  display: flex;
  align-items: center;
  flex-direction: column;
  backdrop-filter: blur(10px);
  border-radius: 20px;
}

.rightSection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 2em 0 0 12em;
  background-color: rgba(255, 255, 255, 0.15);
}

.boton {
  background-color: #fff5d9;
  justify-content: center;
  height: 75px;
  display: flex;
  align-items: center;
  gap: 2em;
  border-radius: 40px;
  font-family: "Nunito", sans-serif;
  h3 {
    color: #415466;
  }
  span {
    color: #415466;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
  }
}
