.container {
  min-height: 100vh;
  width: 100vw;
  background-image: url("../../assets/img/appointments.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 1rem 2rem 1rem;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  span {
    color: #1f5674;
  }
}

.heading {
  font-size: 2.5rem;
  font-weight: 300;
  color: #1f5674;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(8px);
  padding: 1rem 2rem;
  border-radius: 16px;
  text-align: center;
  margin-bottom: 2rem;
  width: 100%;
  max-width: 800px;
}

.cardsWrapper {
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  width: 100%;
  max-width: 1200px;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(6px);
  border-radius: 20px;
  box-sizing: border-box;
  margin-bottom: 2rem;
}

.noAppointments {
  font-size: 1.5rem;
  color: #333;
  text-align: center;
  margin: 4rem auto;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(5px);
  padding: 1.5rem 2rem;
  border-radius: 16px;
  font-weight: 400;
}
